.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
    width: 80vh;
    background-color: #5e97c9;
}

input {
    width: 50%;
    padding: 10px;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.get-weather-btn {
    height: 15px;
    width: 15px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.get-weather-btn:hover {
    background-color: #0056b3;
}

.weather-info {
    margin: 5px 15px;
}
